.authentication__header {
    text-align: center;
    box-shadow: 0px 24px 3px -24px grey;
    padding-bottom: 2rem;
  }
 
  .authentication {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
  }
  
  .authentication form {
    margin-bottom: 1rem;
  }
  .button_span{
    display:flex;
    justify-content: center;
  }