.farmakaCard {
    margin-top: 3%;
    padding: 20px;

}

.farmakaCard2 {
    padding: 20px;
    max-height: 25vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.addFarmako {
    margin-top: 2%;
}