.klironomiko label {
    font-size: 1rem;
    font-weight: 400;
}

.klironomikoInfoCard {
    padding: 20px;
    min-width: 300px;
}

.klironomikoCard {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.addKlironomiko {
    margin-left: 20px;
    margin-top: 2%;
}

.addLoaded {
    margin-left: 20px;
}