.allergiesForm {
    padding: 20px;
    min-width: 400px;
}

.allergiesForm input {
    margin: 0
}

.infoAllergiesCard {
    padding: 20px;
    min-width: none;

}

.allergiesForm label {
    font-weight: 400;
    font-size: 1rem;
    margin-left: 0;
}

.addCondition {
    margin-top: 2%;
}

.addLoaded {
    margin-left: 20px
}