.allergiesForm {
    padding: 20px;
}

.allergiesForm input {

    margin: 0
}
.infoAllergiesCard{
    padding: 20px;
}
.allergiesForm label {
    font-weight: 400;
    font-size: 1rem;
    margin-left: 0;
}

.addCondition {
    margin-top: 2%;
}