.title {}
.allergiesForm{
    padding: 20px;
}
.allergiesForm input {
    
    margin: 0
}

.allergiesForm label {
    font-weight: 500;
    font-size: 1rem;
    margin-left: 0;
}

.addCondition {
    margin-top: 2%;
}