.patientsList{
    list-style: none;
    font-size: large;
    margin-top: 3%;
    /* background-color: red; */
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;

}
/* .patientsList li{
    width: auto;
    
} */
/* .patientsList li span{
    padding-right: 6%;
    margin-left: 1%;
    display: inline-block;
    width: 12%;
    overflow-x: hidden;
} */
@media only screen and (max-width: 1000px) {
    .patientsList{
        font-size: auto;
        border-bottom: 1px;
       
    }
  }