.thyroForm{
    font-size: 1.0625rem;
}
.thyroForm label{
    font-weight: bold;
    
}
.thyroForm input{
    width: 5%;
    position :fixed;
    right:63%;
    
}
.myCol{
    margin-bottom: 1.5%;
}
.thyroForm span{
    font-size: 1.125rem;
    font-weight: bold;
    margin-right: 4.8%;
    text-decoration: underline;
}
@media only screen and (max-width: 1800px) {
    .thyroForm input {
        position: relative; 
        right: auto;
        width: 9%;
        margin-left: 1%;
     

    }
  }
@media only screen and (max-width: 1200px) {
    .thyroForm input {
        position: relative; 
        right: auto;
        width: 20%;
        margin-left: 1%;
     

    }
  }

