.mylab{
    padding-left: 10%;
    padding-top: 145px;
}
.myselect{
    font-size: 1.25rem;
    padding-right: 2%;
    font-weight: bold;
}
.mylab select{
    width: 50%;
    font-size: 1.25rem;
    margin-bottom: 5%;
}
@media only screen and (max-width: 1000px) {
    .mylab {
      width: 100%;
      padding-left: auto;
      height: auto;
      position: relative;
      padding-top: 5%;
     

    }
  }
  
