.history{
    font-size: 1rem;
    padding-top: 2%;
    width: 80%;
    margin-left: 10%;
}
.Collapsible{
    padding: 6px;
    background-color: rgb(160, 214, 246);
    margin-bottom: 10px;
}
.Collapsible__trigger{
    color:rgb(23, 110, 38);
   
}
.Collapsible__trigger--is-closed{
    color: pink;
    background-color: pink;
}
/* .Collapsible__contentOuter{
    background-color: red;
} */
.Collapsible__contentInner{
    background-color: #ebeced;
}
.history label{
    font-weight: bold;
}
.history textarea{
    width: 120%;
    margin-bottom: 10%;
    font-size: 1.3rem;
}
.history #others{
    width: 140%;
}
@media only screen and (max-width: 1000px) {
    .history {
      width: 100%;
      padding-left: auto;
      height: auto;
      position: relative;
      top:auto;

    }
  }
  @media only screen and (max-width: 1470px) {
    .history textarea {
       width: 300px;
     

    }
    .history{
        width: 100%;
       
        height: auto;
        position: relative;
        padding-top: 12%;
    }
  }

  