.visitDetail{
    padding-left: 10%;
    padding-top: 7%;
}
/* .label{
    background-color: rgb(215, 229, 242);
} */
.cardsVisitDetail{
    width: 77%;
    left:11.5%;
    
}
.date{
    width: 10%;
}
.threeInput input{
    width: 30%;
}
.invisible{
    text-decoration: none;
}
.visitDetail h4{
    border-bottom: solid black 1px;
    margin-bottom: 2%;
    /* margin-top: 1%; */
}
.visitDetail h2{
    border-bottom: dotted black 1px;
    margin-bottom: 2%;

}
.visitDetail label{
    padding: 1%;
    font-weight: bold;
    font-size: 1.1rem;
}
.visitDetail select{
    width: 3%;
    font-size: 1.1rem;
}
.multiInputs input{
    width: 20%;
    margin-bottom: 1%;
}
.fullSize{
    width: 60%;
}
.subtitle{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
    margin: 2%;
    
}
.visitDetail textarea{
    margin-top: 1%;
    width: 100%;
}