.deleteModal {
    z-index: 99;
    position: fixed;
    top: 15vh;
    left: calc(50% - 20rem);
    width: 40rem;
    min-height: 30%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    font-size: 2rem;
}
.descriptionRow{
    font-size: 2rem;
   
}
.descriptionRow span{
    font-size: 1.2rem;
}
.inputRow{
    margin-top: 2%;
}
.inputRow input{
    font-size: 1.2rem;
}
.buttonRow{
    margin-top: 8%;
    margin-bottom: 1%;
    margin-right: 2%;
}
.myButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13%;
    margin-left: 63%;
    width: 30%;
}

.cancel {
    padding: 5px;
    font-size: 1.4rem;
    color: red;
    background-color: white;
    border-radius: 4px;
    border: 1px solid red;
}

.cancel:hover {
    transform: scale(1.1) perspective(1px);
}

.cancel:active {
    transform: translateY(5px);
}

.delete {
    padding: 5px;
    font-size: 1.42rem;
    color: white;
    background-color: red;
    border-radius: 4px;
    border: 1px solid white;
}

.delete:hover {
    transform: scale(1.1) perspective(1px);
}

.delete:active {
    transform: translateY(5px);
}

.deleteModal header {
    width: 100%;
    padding: 1rem 0.5rem;
    background: #26aed7;
    color: white;
}

.deleteModal h3 {
    margin: 0.5rem;
}

.deleteModal div {
    font-size: 1.4rem;
}

@media only screen and (max-width: 800px) {
    .deleteModal {
        left: 10%;
        right: 10%;
        width: auto;
        height: auto;
    }

    /* .myButtons {
        width: auto;
        margin-left: auto;
        justify-content: right;        
    }
    .myButtons button{
        margin: 5px;
    } */
}