.errorModal {
    z-index: 99;
    position: fixed;
    top: 15vh;
    left: calc(50% - 20rem);
    width: 40rem;
    min-width: 130px;
    min-height: 30%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    font-size: 2rem;
}

.buttonRow {
    margin-top: 16%;
    margin-bottom: 1%;
    margin-right: 2%;
}

.delete {
    padding: 8px;
    width: 110%;
    min-width: 100px;
    font-size: 1.5rem;
    color: white;
    background-color: red;
    border-radius: 6px;
    border: 1px solid white;
}

.delete:hover {
    transform: scale(1.1) perspective(1px);
}

.delete:active {
    transform: translateY(5px);
}

.errorModal header {
    width: 100%;
    padding: 1rem 0.5rem;
    background: #26aed7;
    color: white;
}

.errorModal h3 {
    margin: 0.5rem;
}

.errorModal div {
    font-size: 1.4rem;
}


@media only screen and (max-width: 1000px) {
    .errorModal {
        left: 10%;
        right: 10%;
        width: auto;
        height: auto;

    }
}

@media only screen and (max-width: 400px) {
    .errorModal {
        overflow: scroll;
        overflow-y: hidden;
    }
}