.logoCard {
    background-color: white;
    /* position: absolute; */
    /* top:0; */
    margin-bottom: 2%;
}

.logoutButton {
    color: white;
    background-color: rgba(255, 106, 0, 0.895);
    border: none;
    font-size: 1.4rem;
    padding: 0.4rem;
    border-radius: 6px;
    margin-top: 5%;
}
.logoCard .linkButton{
    background-color: #26aed7;
    border: none;
    border-radius: 6px;
    padding: 0.3rem;
}
.logoCard a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    /* background-color: red;
    padding: 0.2rem;
    border-radius: 2px; */
}
.logoCard a:hover,a:active,a.active{
    font-size: 1.3rem;
    padding: 0.4rem 0.2rem;
    text-decoration: underline;
    color: aqua;
} 
.logoCard img {
    padding-left: 3%;
    padding-top: 1%;
}

.logoCard span {
    font-size: 1.2rem;
    font-style: italic;
    /* position: fixed;
    top:3.1% */
}

@media only screen and (max-width: 1000px) {
    .logoCard span {
        /* width: 300px; */
        position: relative;
        top:auto;
    }
}