.patientSearch {
    padding-top: 50px;
    /* padding-bottom: 2%; */
}

.card {
    width: 40%;
    border: 1px solid black;
    min-width: 200px;
}

.h4s {
    margin-left: 10px;
}

.inputs {
    
    font-size: 1rem;
}

.labels {
    margin-left: 20px;
    padding-bottom: 2.5%;
    padding-top: 1%;
    font-weight: 500;
    font-size: 1.1rem;
}