.saveButton{
    border:  2px solid black;
    /* background-color: rgb(166, 165, 165); */
    /* position: fixed;
    right: 18vw; */
    /* margin-left: 88%; */
    font-size: 1.3rem;
    padding: 8px;
    margin-top:10px;
    /* margin-left: 100px; */
    margin-bottom: 2%;
    border-radius: 5px;
    outline: none;
}
.saveButton:hover{
    transform: scale(1.1) perspective(1px);
    
}
.saveButton:active{
    transform:translateY(5px);
}
@media only screen and (max-width: 1000px) {
    /* .saveButton {
     
     margin-bottom: auto;

    } */
    /* .buttonSpan{
        display: flex;
        justify-content: right;
    } */
  }